*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Times New Roman, serif;
}

body{
    background:#d8d3d3;
}

.container{
    width:750px;
    margin:30px auto;
    background:#e8dddd;
    padding:30px;
    border:1px solid gray;
}

h1{
    text-align:center;
    margin-bottom:35px;
    font-size:42px;
}

.row{
    display:flex;
    align-items:center;
    margin:18px 0;
}

label{
    width:170px;
    font-size:22px;
}

input[type="text"],
input[type="email"],
input[type="password"]{
    width:340px;
    padding:8px;
    margin-right:10px;
}

input[type="file"]{
    margin-left:5px;
}

select{
    padding:7px;
    margin-right:8px;
}

.code{
    width:70px;
}

.course{
    width:340px;
}

textarea{
    width:340px;
    resize:none;
    padding:8px;
}

.btn{
    text-align:center;
    margin-top:25px;
}

.btn input{
    padding:8px 25px;
    font-size:16px;
    cursor:pointer;
}

input[type="radio"],
input[type="checkbox"]{
    margin-left:10px;
    margin-right:5px;
}